body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
    color: #fff;
  }
  
  .cat-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .cat-card {
    width: 50%;
    text-align: center;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgray;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .cat-card:hover {
    transform: scale(1.001);
    box-shadow: 0px 0px 20px lightgray;
    cursor: pointer;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 25px;
    color: #fff;
  }
  
  img {
    width:350px;
    height:350px;
    border-radius: 10px;
    object-fit: cover;
  }
  